.container {
	display: inline-flex;
	align-items: center;
	margin-bottom: var(--label-margin);
	width: 100%;
}

.label {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.post-item {
	margin-left: auto;
}
