/* biome-ignore lint/suspicious/noEmptyBlock: just a placeholder */
.list {
}

.list-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--list-background-color-item);
  padding: var(--list-padding-vertical) var(--list-padding-horizontal);
  border: 1px solid var(--list-border-color-item);
  border-bottom: 0;
}

.list-item:last-child {
  border-bottom: 1px solid var(--list-border-color-item);
}

.selected-item {
  background-color: var(--list-background-color-item-selected);
}

.pre-item {
  margin-right: var(--list-margin-pre-item);
}
