/* biome-ignore lint/suspicious/noEmptyBlock: just a placeholder */
.list {
}

.list-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--color-surface-pure);
  padding: var(--space-2xs) var(--space-xs);
  border: 1px solid var(--color-outline);
  border-bottom: 0;
}

.list-item:last-child {
  border-bottom: 1px solid var(--color-outline);
}

.selected-item {
  background-color: var(--color-surface-secondary);
}

.pre-item {
  display: inline-flex;
  margin-right: var(--space-2xs);
}
