.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  background-color: transparent;
  min-height: var(--button-min-height);
  font: inherit;

  /* when there is a pre icon, that change the buttons baseline so using top to make sure buttons always align */
  vertical-align: top;
}

.button-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button[disabled]:not(.unstyled) {
  opacity: var(--button-color-opacity-disabled);
}

/* unstyled */
.unstyled {
  display: inherit;
  padding: 0;
  min-height: initial;
  vertical-align: initial;
}

/* outlined */
.outlined {
  border: 1px solid transparent;
}

/* text */
.text {
  min-height: initial;
  vertical-align: initial;
  padding: 0;
}

.text .button-underlay {
  background-color: transparent;
}

/* neutral */
.neutral {
  color: var(--button-neutral-color);
}

.neutral.outlined {
  border-color: var(--button-neutral-border-color);
}

.neutral.filled {
  background-color: var(--button-neutral-background-color-filled);
  color: var(--button-neutral-color-filled);
}

.neutral.filled:hover {
  background-color: var(--button-neutral-background-color-filled-hover);
}

.neutral.filled:active {
  background-color: var(--button-neutral-background-color-filled-active);
}

.neutral.weak {
  background-color: var(--button-neutral-background-color);
}

.neutral.weak:hover,
.neutral.outlined:hover,
.neutral.ghost:hover{
  background-color: var(--button-neutral-background-color-hover);
}

.neutral.weak:active,
.neutral.outlined:active,
.neutral.ghost:active{
  background-color: var(--button-neutral-background-color-active);
}

/* brand */
.brand {
  color: var(--button-brand-color);
}

.brand.outlined {
  border-color: var(--button-brand-border-color);
}

.brand.filled {
  background-color: var(--button-brand-background-color-filled);
  color: var(--button-brand-color-filled);
}

.brand.filled:hover {
  background-color: var(--button-brand-background-color-filled-hover);
}

.brand.filled:active {
  background-color: var(--button-brand-background-color-filled-active);
}

.brand.weak {
  background-color: var(--button-brand-background-color);
}

.brand.weak:hover,
.brand.outlined:hover,
.brand.ghost:hover{
  background-color: var(--button-brand-background-color-hover);
}

.brand.weak:active,
.brand.outlined:active,
.brand.ghost:active{
  background-color: var(--button-brand-background-color-active);
}

/* success */
.success {
  color: var(--button-success-color);
}

.success.outlined {
  border-color: var(--button-success-border-color);
}

.success.filled {
  background-color: var(--button-success-background-color-filled);
  color: var(--button-success-color-filled);
}

.success.filled:hover {
  background-color: var(--button-success-background-color-filled-hover);
}

.success.filled:active {
  background-color: var(--button-success-background-color-filled-active);
}

.success.weak {
  background-color: var(--button-success-background-color);
}

.success.weak:hover,
.success.outlined:hover,
.success.ghost:hover{
  background-color: var(--button-success-background-color-hover);
}

.success.weak:active,
.success.outlined:active,
.success.ghost:active{
  background-color: var(--button-success-background-color-active);
}

/* info */
.info {
  color: var(--button-info-color);
}

.info.outlined {
  border-color: var(--button-info-border-color);
}

.info.filled {
  background-color: var(--button-info-background-color-filled);
  color: var(--button-info-color-filled);
}

.info.filled:hover {
  background-color: var(--button-info-background-color-filled-hover);
}

.info.filled:active {
  background-color: var(--button-info-background-color-filled-active);
}

.info.weak {
  background-color: var(--button-info-background-color);
}

.info.weak:hover,
.info.outlined:hover,
.info.ghost:hover{
  background-color: var(--button-info-background-color-hover);
}

.info.weak:active,
.info.outlined:active,
.info.ghost:active{
  background-color: var(--button-info-background-color-active);
}

/* warning */
.warning {
  color: var(--button-warning-color);
}

.warning.outlined {
  border-color: var(--button-warning-border-color);
}

.warning.filled {
  background-color: var(--button-warning-background-color-filled);
  color: var(--button-warning-color-filled);
}

.warning.filled:hover {
  background-color: var(--button-warning-background-color-filled-hover);
}

.warning.filled:active {
  background-color: var(--button-warning-background-color-filled-active);
}

.warning.weak {
  background-color: var(--button-warning-background-color);
}

.warning.weak:hover,
.warning.outlined:hover,
.warning.ghost:hover{
  background-color: var(--button-warning-background-color-hover);
}

.warning.weak:active,
.warning.outlined:active,
.warning.ghost:active{
  background-color: var(--button-warning-background-color-active);
}

/* danger */
.danger {
  color: var(--button-danger-color);
}

.danger.outlined {
  border-color: var(--button-danger-border-color);
}

.danger.filled {
  background-color: var(--button-danger-background-color-filled);
  color: var(--button-danger-color-filled);
}

.danger.filled:hover {
  background-color: var(--button-danger-background-color-filled-hover);
}

.danger.filled:active {
  background-color: var(--button-danger-background-color-filled-active);
}

.danger.weak {
  background-color: var(--button-danger-background-color);
}

.danger.weak:hover,
.danger.outlined:hover,
.danger.ghost:hover{
  background-color: var(--button-danger-background-color-hover);
}

.danger.weak:active,
.danger.outlined:active,
.danger.ghost:active{
  background-color: var(--button-danger-background-color-active);
}

/* icon button */
.icon-button {
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
}

/* icons */
.icon {
  display: inline-flex;
}

.icon.pre-item {
  margin-right: var(--button-margin-pre-post-item);
}

.icon.post-item {
  margin-left: var(--button-margin-pre-post-item);
}

.is-loading .icon {
  :global {
    animation: spin 1s linear;
    animation-iteration-count: infinite;
  }
}

/* group */
.button-group {
  display: flex;
  gap: var(--button-margin-between-self);
}

.button-group-attached {
  gap: 0;

  .button:not(:first-child) {
    border-left: 0;
  }

  .button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

/* drop down */
.drop-down {
  display: inline-flex;
}

.drop-down-content {
  display: none;
  border: 1px solid var(--button-drop-down-border-color);
  padding: var(--button-drop-down-padding);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button-drop-down-background-color);
  width: max-content;
  z-index: var(--z-index-tooltip-content);
  border-radius: var(--button-drop-down-border-radius);
  color: var(--button-drop-down-color);
}

.drop-down-content-is-enabled {
  display: block;
}
