*node_modules/*

logs
*.log
*.logs

coverage
mocha-coverage

# development specific data
.env
.env.local
docker.env
applications/api/lowdb/*
*.pem

# artifacts
.idea
.eslintcache
applications/web/build/*
.nyc_output/*
**/dist/*
/test-results/
/playwright-report/
/playwright/.cache/
