.radio label {
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.radio input {
  display: none;
}

.radio .icon {
  margin-right: var(--space-2xs);
  font-size: var(--font-size-xl);
}

.radio .icon-is-checked {
  fill: var(--color-brand);
}

.align-end {
  input {
    order: 1;
    margin-left: auto;
  }
}

.group {
  .radio {
    display: flex;
  }
}
