[data-theme] {
%LIGHT_COLOR_VARIABLES%

%FONT_SIZE_VARIABLES%

%LINE_HEIGHT_VARIABLES%

%LETTER_SPACING_VARIABLES%

%SPACING_VARIABLES%

%BORDER_RADIUS_VARIABLES%

%Z_INDEX_VARIABLES%

%OPACITY_VARIABLES%

%SIZE_VARIABLES%
}

.dark {
%DARK_COLOR_VARIABLES%
}

/* since buttons are overridden to look like plain text, resetting the text to align to the left */
button {
  text-align: left;
}
