.spacing-left {
  margin-left: var(--space-2xs);
}

.spacing-right {
  margin-right: var(--space-2xs);
}

.extra_small {
  font-size: var(--font-size-xs);
}

.small {
  font-size: var(--font-size-sm);
}

.base {
  font-size: var(--font-size-base);
}

.large {
  font-size: var(--font-size-lg);
}

.extra_large {
  font-size: var(--font-size-xl);
}

.extra_large2 {
  font-size: var(--font-size-2xl);
}
