.spacing-left {
	margin-left: var(--emoji-margin);
}

.spacing-right {
	margin-right: var(--emoji-margin);
}

.size-small {
	font-size: var(--typography-body-small-font-size);
}

.size-medium {
	font-size: var(--typography-body-medium-font-size);
}

.size-large {
	font-size: var(--typography-body-large-font-size);
}
