.supporting-text {
  font-size: var(--typography-small1-font-size);
  line-height: var(--typography-small1-line-height);
  letter-spacing: var(--typography-small1-letter-spacing);
  margin-top: var(--supporting-text-margin);
}

.neutral {
  color: var(--supporting-text-color-neutral);
}

.danger {
  color: var(--supporting-text-color-danger);
}
