.textarea {
  resize: none;
  display: block;
  width: 100%;
  min-height: 200px;
  padding: var(--space-xs);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-outline);
  outline: none;
  color: var(--color-on-surface);
  background-color: var(--color-surface-pure);
}

.textarea:focus:not([disabled]):not([readonly]),
.textarea:hover:not([disabled]):not([readonly]) {
  border-color: var(--color-outline-active);
}

.textarea::placeholder {
  color: var(--color-input-placeholder);
}

.textarea[disabled],
.textarea[disabled] {
  opacity: var(--opacitiy-disabled);
}

.textarea[readonly] {
  background-color: var(--color-surface-secondary);
}
