.textarea {
  resize: none;
  display: block;
  width: 100%;
  min-height: 200px;
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: 1px solid var(--input-border-color);
  outline: none;
  color: var(--input-color);
  background-color: var(--input-background-color);
}

.textarea:focus:not([disabled]):not([readonly]),
.textarea:hover:not([disabled]):not([readonly]) {
  border-color: var(--input-border-color-active);
}

.textarea::placeholder {
  color: var(--input-color-placeholder);
}

.textarea[disabled],
.textarea[disabled] {
  opacity: var(--input-disabled-opacity);
}

.textarea[readonly] {
  background-color: var(--input-background-color-readonly);
}
