.icon {
  display: inline-block;
  height: var(--size-base);
  width: var(--size-base);
}

.extra_small2 {
  height: var(--size-2xs);
  width: var(--size-2xs);
}

.extra_small {
  height: var(--size-xs);
  width: var(--size-xs);
}

.small {
  height: var(--size-sm);
  width: var(--size-sm);
}

.large {
  height: var(--size-lg);
  width: var(--size-lg);
}

.extra_large {
  height: var(--size-xl);
  width: var(--size-xl);
}

.extra_large2 {
  height: var(--size-2xl);
  width: var(--size-2xl);
}

.extra_large3 {
  height: var(--size-3xl);
  width: var(--size-3xl);
}

.extra_large4 {
  height: var(--size-4xl);
  width: var(--size-4xl);
}

.spacing-left {
  margin-left: var(--space-2xs);
}

.spacing-right {
  margin-right: var(--space-2xs);
}

.neutral {
  fill: var(--color-neutral);
}

.brand {
  fill: var(--color-brand);
}

.success {
  fill: var(--color-success);
}

.info {
  fill: var(--color-info);
}

.warning {
  fill: var(--color-warning);
}

.danger {
  fill: var(--color-danger);
}

.inherit {
  fill: inherit;
}
