.icon {
  font-size: var(--font-size-base);
}

.extra_small {
  font-size: var(--font-size-xs);
}

.small {
  font-size: var(--font-size-sm);
}

.large {
  font-size: var(--font-size-lg);
}

.extra_large {
  font-size: var(--font-size-xl);
}

.extra_large2 {
  font-size: var(--font-size-2xl);
}

.spacing-left {
  margin-left: var(--space-2xs);
}

.spacing-right {
  margin-right: var(--space-2xs);
}

.neutral {
  color: var(--color-neutral);
}

.brand {
  color: var(--color-brand);
}

.success {
  color: var(--color-success);
}

.info {
  color: var(--color-info);
}

.warning {
  color: var(--color-warning);
}

.danger {
  color: var(--color-danger);
}

.inherit {
  color: inherit;
}
