.dialog {
  position: fixed;
  min-width: 400px;
  min-height: 100px;
  background-color: var(--color-surface-pure);
  border-radius: var(--border-radius-sm);
  z-index: var(--z-index-dialog);
  color: var(--color-on-surface);

  /* centering */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing-lg);
  padding: var(--space-xs) var(--space-sm);
  border-bottom: 1px solid var(--color-outline);
}

.close-header-trigger {
  margin-left: auto;
}

.dialog-content {
  padding: var(--space-sm) var(--space-sm);
}

.dialog-footer {
  display: flex;
  align-items: center;
  padding: var(--space-xs) var(--space-sm);
  border-top: 1px solid var(--color-outline);
}

.dialog-footer-right-aligned {
  justify-content: flex-end;
}
