[data-theme] {
  --color-outline: #BDCBCE;
  --color-outline-active: #687173;
  --color-surface-pure: #FFFFFF;
  --color-surface: #F8F8F8;
  --color-surface-secondary: #EFEFEF;
  --color-surface-tertiary: #E4E4E4;
  --color-on-surface: #0A0A0A;
  --color-surface-on-secondary: #323232;
  --color-surface-on-tertiary: #5A5A5A;
  --color-surface-on-inverse: #F0F0F0;
  --color-neutral: #939393;
  --color-neutral2: #838383;
  --color-neutral3: #787878;
  --color-neutral-subtle: #EBEBEB;
  --color-neutral-subtle2: #E2E2E2;
  --color-neutral-subtle3: #D3D3D3;
  --color-neutral-bold: #545454;
  --color-on-neutral: #F0F0F0;
  --color-brand: #009688;
  --color-brand2: #008074;
  --color-brand3: #007368;
  --color-brand-subtle: #E0F2F1;
  --color-brand-subtle2: #CBE8E6;
  --color-brand-subtle3: #B6DDDA;
  --color-brand-bold: #00695C;
  --color-on-brand: #F0F0F0;
  --color-success: #43A047;
  --color-success2: #3C903F;
  --color-success3: #37853B;
  --color-success-subtle: #E8F5E9;
  --color-success-subtle2: #D2F3D4;
  --color-success-subtle3: #BBECBE;
  --color-success-bold: #1B5E20;
  --color-on-success: #F0F0F0;
  --color-info: #42A5F5;
  --color-info2: #3C96DF;
  --color-info3: #3484C5;
  --color-info-subtle: #E3F2FD;
  --color-info-subtle2: #D1ECFF;
  --color-info-subtle3: #BFE4FF;
  --color-info-bold: #0D47A1;
  --color-on-info: #F0F0F0;
  --color-warning: #D2A125;
  --color-warning2: #C79824;
  --color-warning3: #B08518;
  --color-warning-subtle: #F8F0D7;
  --color-warning-subtle2: #FAECC3;
  --color-warning-subtle3: #F8E5AF;
  --color-warning-bold: #7A5705;
  --color-on-warning: #F0F0F0;
  --color-danger: #E53935;
  --color-danger2: #CB312E;
  --color-danger3: #BD2D2B;
  --color-danger-subtle: #FFEBEE;
  --color-danger-subtle2: #FFD8DE;
  --color-danger-subtle3: #FFC6CE;
  --color-danger-bold: #800C0C;
  --color-on-danger: #F0F0F0;
  --color-dialog-background: #FFFFFF;
  --color-input-background: #FFFFFF;
  --color-input-placeholder: #6A6A6A;
  --color-overlay-background: #000000;
  --color-transparent: #FFFFFF00;

--font-weight-thin: 100;
--font-weight-extra-light: 200;
--font-weight-light: 300;
--font-weight-regular: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;
--font-weight-extra-bold: 800;
--font-weight-black: 900;

  --font-size-xs: 0.625rem;
  --font-size-sm: 0.75rem;
  --font-size-base: 0.875rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;

  --line-height-none: 0rem;
  --line-height-xs: 0.8125rem;
  --line-height-sm: 0.9375rem;
  --line-height-base: 1.25rem;
  --line-height-lg: 1.5rem;
  --line-height-xl: 1.875rem;
  --line-height-2xl: 2.5rem;

  --letter-spacing-none: 0;
  --letter-spacing-xs: 0.5;
  --letter-spacing-sm: 0.5;
  --letter-spacing-base: 0.25;
  --letter-spacing-lg: 0.25;
  --letter-spacing-xl: 0.5;
  --letter-spacing-2xl: 0.5;

  --space-none: 0rem;
  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-base: 1rem;
  --space-lg: 1.25rem;
  --space-xl: 1.75rem;
  --space-2xl: 2.25rem;

  --border-radius-none: 0rem;
  --border-radius-xs: 0.1875rem;
  --border-radius-sm: 0.3125rem;
  --border-radius-base: 0.5rem;
  --border-radius-lg: 0.625rem;
  --border-radius-xl: 0.875rem;
  --border-radius-full: 624.9375rem;

  --z-index-side-navigation-border: 1;
  --z-index-combobox-options: 2;
  --z-index-combobox-options-opened: 3;
  --z-index-date-picker-input-picker: 4;
  --z-index-overlay: 100;
  --z-index-over-overlay: 101;
  --z-index-drop-down: 102;
  --z-index-dialog: 103;
  --z-index-global-notifications: 104;
  --z-index-tooltip: 105;

  --opacity-none: 0;
  --opacity-overlay-weak: 0.4;
  --opacity-disabled: 0.45;
  --opacity-overlay-strong: 0.7;
  --opacity-full: 1;

  --size-xs: 0.5rem;
  --size-sm: 0.75rem;
  --size-base: 0.875rem;
  --size-lg: 1.125rem;
  --size-xl: 1.5rem;
  --size-2xl: 2.25rem;
  --size-3xl: 3rem;
  --size-4xl: 4rem;
}

.dark {
  --color-outline: #667072;
  --color-outline-active: #DEEBEE;
  --color-surface-pure: #000000;
  --color-surface: #0A0A0A;
  --color-surface-secondary: #121212;
  --color-surface-tertiary: #1C1C1C;
  --color-on-surface: #F0F0F0;
  --color-surface-on-secondary: #CDCDCD;
  --color-surface-on-tertiary: #AAAAAA;
  --color-surface-on-inverse: #0A0A0A;
  --color-neutral: #5C5C5C;
  --color-neutral2: #474747;
  --color-neutral3: #3C3C3C;
  --color-neutral-subtle: #1F1F1F;
  --color-neutral-subtle2: #2F2F2F;
  --color-neutral-subtle3: #383838;
  --color-neutral-bold: #FAFAFA;
  --color-on-neutral: #F0F0F0;
  --color-brand: #008477;
  --color-brand2: #00766B;
  --color-brand3: #007166;
  --color-brand-subtle: #03302A;
  --color-brand-subtle2: #043E36;
  --color-brand-subtle3: #054A41;
  --color-brand-bold: #E0F2F1;
  --color-on-brand: #F0F0F0;
  --color-success: #409A43;
  --color-success2: #3A8B3D;
  --color-success3: #337C35;
  --color-success-subtle: #0A2F0C;
  --color-success-subtle2: #0D3E10;
  --color-success-subtle3: #114E14;
  --color-success-bold: #E8F5E9;
  --color-on-success: #F0F0F0;
  --color-info: #2C88D2;
  --color-info2: #2982C9;
  --color-info3: #267BBF;
  --color-info-subtle: #051A3C;
  --color-info-subtle2: #06214D;
  --color-info-subtle3: #082658;
  --color-info-bold: #E3F2FD;
  --color-on-info: #F0F0F0;
  --color-warning: #C5982A;
  --color-warning2: #BC9228;
  --color-warning3: #B18926;
  --color-warning-subtle: #2E2102;
  --color-warning-subtle2: #3C2A02;
  --color-warning-subtle3: #4A3503;
  --color-warning-bold: #FFF8E1;
  --color-on-warning: #F0F0F0;
  --color-danger: #C62824;
  --color-danger2: #BB2622;
  --color-danger3: #AC221F;
  --color-danger-subtle: #330303;
  --color-danger-subtle2: #440505;
  --color-danger-subtle3: #570505;
  --color-danger-bold: #FFEBEE;
  --color-on-danger: #F0F0F0;
  --color-dialog-background: #1C1C1C;
  --color-input-background: #1C1C1C;
  --color-input-placeholder: #A1A1A1;
  --color-overlay-background: #000000;
  --color-transparent: #FFFFFF00;
}

/* since buttons are overridden to look like plain text, resetting the text to align to the left */
button {
  text-align: left;
}
