[data-theme="dark"] {
  --effect-shadow-level1-0: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level1-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --effect-shadow-level2-0: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level2-1: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --effect-shadow-level3-0: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level3-1: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --effect-shadow-level4-0: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level4-1: 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --effect-shadow-level5-0: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level5-1: 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
  --colors-outline-base: rgb(102, 112, 114);
  --colors-outline-active: rgb(222, 235, 238);
  --colors-brand-base: rgb(0, 132, 119);
  --colors-brand-subtle: rgb(3, 48, 42);
  --colors-brand-bold: rgb(224, 242, 241);
  --colors-brand-on-base: rgb(240, 240, 240);
  --colors-brand-base2: rgb(0, 118, 107);
  --colors-brand-base3: rgb(0, 113, 102);
  --colors-brand-subtle2: rgb(4, 62, 54);
  --colors-brand-subtle3: rgb(5, 74, 65);
  --colors-surface-pure: rgb(0, 0, 0);
  --colors-surface-base: rgb(10, 10, 10);
  --colors-surface-secondary: rgb(18, 18, 18);
  --colors-surface-tertiary: rgb(28, 28, 28);
  --colors-surface-on-base: rgb(240, 240, 240);
  --colors-surface-on-secondary: rgb(205, 205, 205);
  --colors-surface-on-tertiary: rgb(170, 170, 170);
  --colors-surface-on-inverse: rgb(10, 10, 10);
  --colors-neutral-base: rgb(92, 92, 92);
  --colors-neutral-subtle: rgb(31, 31, 31);
  --colors-neutral-bold: rgb(250, 250, 250);
  --colors-neutral-on-base: rgb(240, 240, 240);
  --colors-neutral-base2: rgb(71, 71, 71);
  --colors-neutral-base3: rgb(60, 60, 60);
  --colors-neutral-subtle2: rgb(47, 47, 47);
  --colors-neutral-subtle3: rgb(56, 56, 56);
  --colors-success-base: rgb(64, 154, 67);
  --colors-success-subtle: rgb(10, 47, 12);
  --colors-success-bold: rgb(232, 245, 233);
  --colors-success-on-base: rgb(240, 240, 240);
  --colors-success-base2: rgb(58, 139, 61);
  --colors-success-base3: rgb(51, 124, 53);
  --colors-success-subtle2: rgb(13, 62, 16);
  --colors-success-subtle3: rgb(17, 78, 20);
  --colors-info-base: rgb(44, 136, 210);
  --colors-info-subtle: rgb(5, 26, 60);
  --colors-info-bold: rgb(227, 242, 253);
  --colors-info-on-base: rgb(240, 240, 240);
  --colors-info-base2: rgb(41, 130, 201);
  --colors-info-base3: rgb(38, 123, 191);
  --colors-info-subtle2: rgb(6, 33, 77);
  --colors-info-subtle3: rgb(8, 38, 88);
  --colors-warning-base: rgb(197, 152, 42);
  --colors-warning-subtle: rgb(46, 33, 2);
  --colors-warning-bold: rgb(255, 248, 225);
  --colors-warning-on-base: rgb(240, 240, 240);
  --colors-warning-base2: rgb(188, 146, 40);
  --colors-warning-base3: rgb(177, 137, 38);
  --colors-warning-subtle2: rgb(60, 42, 2);
  --colors-warning-subtle3: rgb(74, 53, 3);
  --colors-danger-base: rgb(198, 40, 36);
  --colors-danger-subtle: rgb(51, 3, 3);
  --colors-danger-bold: rgb(255, 235, 238);
  --colors-danger-on-base: rgb(240, 240, 240);
  --colors-danger-base2: rgb(187, 38, 34);
  --colors-danger-base3: rgb(172, 34, 31);
  --colors-danger-subtle2: rgb(68, 5, 5);
  --colors-danger-subtle3: rgb(87, 5, 5);
  --colors-misc-dialog-background-color: rgb(28, 28, 28);
  --colors-misc-input-background-color: rgb(28, 28, 28);
  --colors-misc-input-placeholder-color: rgb(161, 161, 161);
  --colors-misc-overlay-background-color: rgb(0, 0, 0);
  --button-neutral-background-color-filled: rgb(92, 92, 92);
  --button-neutral-background-color: rgb(31, 31, 31);
  --button-neutral-border-color: rgb(92, 92, 92);
  --button-neutral-color-filled: rgb(240, 240, 240);
  --button-neutral-color: rgb(250, 250, 250);
  --button-neutral-border-color-active: rgb(92, 92, 92);
  --button-neutral-background-color-hover: rgb(47, 47, 47);
  --button-neutral-background-color-active: rgb(56, 56, 56);
  --button-neutral-background-color-filled-hover: rgb(71, 71, 71);
  --button-neutral-background-color-filled-active: rgb(60, 60, 60);
  --button-brand-background-color: rgb(3, 48, 42);
  --button-brand-background-color-filled: rgb(0, 132, 119);
  --button-brand-border-color: rgb(0, 132, 119);
  --button-brand-border-color-active: rgb(0, 132, 119);
  --button-brand-color: rgb(224, 242, 241);
  --button-brand-color-filled: rgb(240, 240, 240);
  --button-brand-background-color-hover: rgb(4, 62, 54);
  --button-brand-background-color-active: rgb(5, 74, 65);
  --button-brand-background-color-filled-hover: rgb(0, 118, 107);
  --button-brand-background-color-filled-active: rgb(0, 113, 102);
  --button-success-background-color: rgb(10, 47, 12);
  --button-success-background-color-filled: rgb(64, 154, 67);
  --button-success-border-color: rgb(64, 154, 67);
  --button-success-border-color-active: rgb(64, 154, 67);
  --button-success-color: rgb(232, 245, 233);
  --button-success-color-filled: rgb(240, 240, 240);
  --button-success-background-color-hover: rgb(13, 62, 16);
  --button-success-background-color-active: rgb(17, 78, 20);
  --button-success-background-color-filled-hover: rgb(58, 139, 61);
  --button-success-background-color-filled-active: rgb(51, 124, 53);
  --button-info-background-color: rgb(5, 26, 60);
  --button-info-background-color-filled: rgb(44, 136, 210);
  --button-info-border-color: rgb(44, 136, 210);
  --button-info-border-color-active: rgb(44, 136, 210);
  --button-info-color: rgb(227, 242, 253);
  --button-info-color-filled: rgb(240, 240, 240);
  --button-info-background-color-hover: rgb(6, 33, 77);
  --button-info-background-color-active: rgb(8, 38, 88);
  --button-info-background-color-filled-hover: rgb(41, 130, 201);
  --button-info-background-color-filled-active: rgb(38, 123, 191);
  --button-warning-background-color: rgb(46, 33, 2);
  --button-warning-background-color-filled: rgb(197, 152, 42);
  --button-warning-border-color: rgb(197, 152, 42);
  --button-warning-border-color-active: rgb(197, 152, 42);
  --button-warning-color: rgb(255, 248, 225);
  --button-warning-color-filled: rgb(240, 240, 240);
  --button-warning-background-color-hover: rgb(60, 42, 2);
  --button-warning-background-color-active: rgb(74, 53, 3);
  --button-warning-background-color-filled-hover: rgb(188, 146, 40);
  --button-warning-background-color-filled-active: rgb(177, 137, 38);
  --button-danger-background-color: rgb(51, 3, 3);
  --button-danger-background-color-filled: rgb(198, 40, 36);
  --button-danger-border-color: rgb(198, 40, 36);
  --button-danger-border-color-active: rgb(198, 40, 36);
  --button-danger-color: rgb(255, 235, 238);
  --button-danger-color-filled: rgb(240, 240, 240);
  --button-danger-background-color-hover: rgb(68, 5, 5);
  --button-danger-background-color-active: rgb(87, 5, 5);
  --button-danger-background-color-filled-hover: rgb(187, 38, 34);
  --button-danger-background-color-filled-active: rgb(172, 34, 31);
  --button-drop-down-border-color: rgb(222, 235, 238);
  --button-drop-down-background-color: rgb(0, 0, 0);
  --button-drop-down-color: rgb(240, 240, 240);
  --auto-complete-color-add: rgb(64, 154, 67);
  --auto-complete-color-remove: rgb(198, 40, 36);
  --input-color: rgb(240, 240, 240);
  --input-color-placeholder: rgb(161, 161, 161);
  --input-background-color: rgb(28, 28, 28);
  --input-background-color-readonly: rgb(18, 18, 18);
  --input-border-color: rgb(102, 112, 114);
  --input-border-color-active: rgb(222, 235, 238);
  --input-border-color-error: rgb(198, 40, 36);
  --list-border-color-item: rgb(102, 112, 114);
  --list-background-color-item-selected: rgb(3, 48, 42);
  --list-background-color-item: rgb(0, 0, 0);
  --avatar-color: rgb(240, 240, 240);
  --avatar-background-color: rgb(0, 132, 119);
  --supporting-text-color-danger: rgb(198, 40, 36);
  --supporting-text-color-neutral: rgb(170, 170, 170);
  --bubble-neutral-background-color: rgb(92, 92, 92);
  --bubble-neutral-border-color: rgb(92, 92, 92);
  --bubble-neutral-color: rgb(240, 240, 240);
  --bubble-neutral-background-color-weak: rgb(31, 31, 31);
  --bubble-neutral-color-weak: rgb(240, 240, 240);
  --bubble-danger-background-color: rgb(198, 40, 36);
  --bubble-danger-background-color-weak: rgb(51, 3, 3);
  --bubble-danger-border-color: rgb(198, 40, 36);
  --bubble-danger-color: rgb(240, 240, 240);
  --bubble-danger-color-weak: rgb(240, 240, 240);
  --bubble-success-background-color: rgb(64, 154, 67);
  --bubble-success-background-color-weak: rgb(10, 47, 12);
  --bubble-success-border-color: rgb(64, 154, 67);
  --bubble-success-color: rgb(240, 240, 240);
  --bubble-success-color-weak: rgb(240, 240, 240);
  --bubble-info-background-color: rgb(44, 136, 210);
  --bubble-info-background-color-weak: rgb(5, 26, 60);
  --bubble-info-border-color: rgb(44, 136, 210);
  --bubble-info-color: rgb(240, 240, 240);
  --bubble-info-color-weak: rgb(240, 240, 240);
  --bubble-warning-background-color: rgb(197, 152, 42);
  --bubble-warning-background-color-weak: rgb(46, 33, 2);
  --bubble-warning-border-color: rgb(197, 152, 42);
  --bubble-warning-color: rgb(240, 240, 240);
  --bubble-warning-color-weak: rgb(240, 240, 240);
  --bubble-brand-background-color: rgb(0, 132, 119);
  --bubble-brand-background-color-weak: rgb(3, 48, 42);
  --bubble-brand-border-color: rgb(0, 132, 119);
  --bubble-brand-color: rgb(240, 240, 240);
  --bubble-brand-color-weak: rgb(240, 240, 240);
  --callout-neutral-background-color: rgb(92, 92, 92);
  --callout-neutral-background-color-weak: rgb(31, 31, 31);
  --callout-neutral-color: rgb(240, 240, 240);
  --callout-neutral-color-weak: rgb(240, 240, 240);
  --callout-neutral-border-color: rgb(92, 92, 92);
  --callout-brand-background-color: rgb(0, 132, 119);
  --callout-brand-background-color-weak: rgb(3, 48, 42);
  --callout-brand-color: rgb(240, 240, 240);
  --callout-brand-color-weak: rgb(240, 240, 240);
  --callout-brand-border-color: rgb(0, 132, 119);
  --callout-success-background-color: rgb(64, 154, 67);
  --callout-success-background-color-weak: rgb(10, 47, 12);
  --callout-success-color: rgb(240, 240, 240);
  --callout-success-color-weak: rgb(240, 240, 240);
  --callout-success-border-color: rgb(64, 154, 67);
  --callout-info-background-color: rgb(44, 136, 210);
  --callout-info-background-color-weak: rgb(5, 26, 60);
  --callout-info-color: rgb(240, 240, 240);
  --callout-info-color-weak: rgb(240, 240, 240);
  --callout-info-border-color: rgb(44, 136, 210);
  --callout-warning-background-color: rgb(197, 152, 42);
  --callout-warning-background-color-weak: rgb(46, 33, 2);
  --callout-warning-color: rgb(240, 240, 240);
  --callout-warning-color-weak: rgb(240, 240, 240);
  --callout-warning-border-color: rgb(197, 152, 42);
  --callout-danger-background-color: rgb(198, 40, 36);
  --callout-danger-background-color-weak: rgb(51, 3, 3);
  --callout-danger-color: rgb(240, 240, 240);
  --callout-danger-color-weak: rgb(240, 240, 240);
  --callout-danger-border-color: rgb(198, 40, 36);
  --checkbox-color-icon-active: rgb(0, 132, 119);
  --checkbox-color-icon: rgb(92, 92, 92);
  --radio-color-icon-active: rgb(0, 132, 119);
  --radio-color-icon: rgb(92, 92, 92);
  --dialog-background-color: rgb(28, 28, 28);
  --dialog-border-color: rgb(102, 112, 114);
  --dialog-color: rgb(240, 240, 240);
  --overlay-background-color: rgb(0, 0, 0);
  --icon-color: rgb(240, 240, 240);
  --icon-neutral-color: rgb(92, 92, 92);
  --icon-brand-color: rgb(0, 132, 119);
  --icon-success-color: rgb(64, 154, 67);
  --icon-info-color: rgb(44, 136, 210);
  --icon-warning-color: rgb(197, 152, 42);
  --icon-danger-color: rgb(198, 40, 36);
  --card-background-color: rgb(0, 0, 0);
  --card-border-color: rgb(102, 112, 114);
  --text-color: rgb(240, 240, 240);
  --text-color-link: rgb(44, 136, 210);
  --date-picker-border-color: rgb(102, 112, 114);
  --date-picker-background-color: rgb(0, 0, 0);
  --date-picker-background-color-day-highlighted: rgb(3, 48, 42);
  --date-picker-color: rgb(240, 240, 240);
  --date-picker-color-day-inactive: rgb(92, 92, 92);
  --date-picker-background-color-day-current: rgb(5, 26, 60);
  --date-picker-color-day-disabled: rgb(56, 56, 56);
  --side-navigation-color-header: rgb(170, 170, 170);
  --side-navigation-color-item: rgb(205, 205, 205);
  --side-navigation-border-color-header-indicator: rgb(102, 112, 114);
  --side-navigation-color-item-active: rgb(0, 132, 119);
  --side-navigation-border-color-item-active: rgb(0, 132, 119);
  --side-navigation-border-color-item: rgb(102, 112, 114);
}
