[data-theme] {
  --color-outline: #bdcbce;
  --color-outline-active: #687173;
  --color-surface-pure: #ffffff;
  --color-surface: #f8f8f8;
  --color-surface-secondary: #efefef;
  --color-surface-tertiary: #e4e4e4;
  --color-on-surface: #0a0a0a;
  --color-surface-on-secondary: #323232;
  --color-surface-on-tertiary: #5a5a5a;
  --color-surface-on-inverse: #f0f0f0;
  --color-neutral: #939393;
  --color-neutral2: #838383;
  --color-neutral3: #787878;
  --color-neutral-subtle: #ebebeb;
  --color-neutral-subtle2: #e2e2e2;
  --color-neutral-subtle3: #d3d3d3;
  --color-neutral-bold: #545454;
  --color-on-neutral: #f0f0f0;
  --color-brand: #009688;
  --color-brand2: #008074;
  --color-brand3: #007368;
  --color-brand-subtle: #e0f2f1;
  --color-brand-subtle2: #cbe8e6;
  --color-brand-subtle3: #b6ddda;
  --color-brand-bold: #00695c;
  --color-on-brand: #f0f0f0;
  --color-success: #43a047;
  --color-success2: #3c903f;
  --color-success3: #37853b;
  --color-success-subtle: #e8f5e9;
  --color-success-subtle2: #d2f3d4;
  --color-success-subtle3: #bbecbe;
  --color-success-bold: #1b5e20;
  --color-on-success: #f0f0f0;
  --color-info: #42a5f5;
  --color-info2: #3c96df;
  --color-info3: #3484c5;
  --color-info-subtle: #e3f2fd;
  --color-info-subtle2: #d1ecff;
  --color-info-subtle3: #bfe4ff;
  --color-info-bold: #0d47a1;
  --color-on-info: #f0f0f0;
  --color-warning: #d2a125;
  --color-warning2: #c79824;
  --color-warning3: #b08518;
  --color-warning-subtle: #f8f0d7;
  --color-warning-subtle2: #faecc3;
  --color-warning-subtle3: #f8e5af;
  --color-warning-bold: #7a5705;
  --color-on-warning: #f0f0f0;
  --color-danger: #e53935;
  --color-danger2: #cb312e;
  --color-danger3: #bd2d2b;
  --color-danger-subtle: #ffebee;
  --color-danger-subtle2: #ffd8de;
  --color-danger-subtle3: #ffc6ce;
  --color-danger-bold: #800c0c;
  --color-on-danger: #f0f0f0;
  --color-dialog-background: #ffffff;
  --color-input-background: #ffffff;
  --color-input-placeholder: #6a6a6a;
  --color-overlay-background: #000000;
  --color-transparent: #ffffff00;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-xs: 0.625rem;
  --font-size-sm: 0.75rem;
  --font-size-base: 0.875rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;

  --line-height-none: 0rem;
  --line-height-xs: 0.8125rem;
  --line-height-sm: 0.9375rem;
  --line-height-base: 1.25rem;
  --line-height-lg: 1.5rem;
  --line-height-xl: 1.875rem;
  --line-height-2xl: 2.5rem;

  --letter-spacing-none: 0;
  --letter-spacing-xs: 0.5;
  --letter-spacing-sm: 0.5;
  --letter-spacing-base: 0.25;
  --letter-spacing-lg: 0.25;
  --letter-spacing-xl: 0.5;
  --letter-spacing-2xl: 0.5;

  --space-none: 0rem;
  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-base: 1rem;
  --space-lg: 1.25rem;
  --space-xl: 1.75rem;
  --space-2xl: 2.25rem;

  --border-radius-none: 0rem;
  --border-radius-xs: 0.1875rem;
  --border-radius-sm: 0.3125rem;
  --border-radius-base: 0.5rem;
  --border-radius-lg: 0.625rem;
  --border-radius-xl: 0.875rem;
  --border-radius-full: 624.9375rem;

  --z-index-side-navigation-border: 1;
  --z-index-combobox-options: 2;
  --z-index-combobox-options-opened: 3;
  --z-index-date-picker-input-picker: 4;
  --z-index-overlay: 100;
  --z-index-over-overlay: 101;
  --z-index-drop-down: 102;
  --z-index-dialog: 103;
  --z-index-global-notifications: 104;
  --z-index-tooltip: 105;

  --opacity-none: 0;
  --opacity-overlay-weak: 0.4;
  --opacity-disabled: 0.45;
  --opacity-overlay-strong: 0.7;
  --opacity-full: 1;

  --size-2xs: 0.5rem;
  --size-xs: 0.625rem;
  --size-sm: 0.75rem;
  --size-base: 0.875rem;
  --size-lg: 1.125rem;
  --size-xl: 1.5rem;
  --size-2xl: 2.25rem;
  --size-3xl: 3rem;
  --size-4xl: 4rem;
}

[data-theme="dark"] {
  --color-outline: #667072;
  --color-outline-active: #deebee;
  --color-surface-pure: #000000;
  --color-surface: #0a0a0a;
  --color-surface-secondary: #121212;
  --color-surface-tertiary: #1c1c1c;
  --color-on-surface: #f0f0f0;
  --color-surface-on-secondary: #cdcdcd;
  --color-surface-on-tertiary: #aaaaaa;
  --color-surface-on-inverse: #0a0a0a;
  --color-neutral: #5c5c5c;
  --color-neutral2: #474747;
  --color-neutral3: #3c3c3c;
  --color-neutral-subtle: #1f1f1f;
  --color-neutral-subtle2: #2f2f2f;
  --color-neutral-subtle3: #383838;
  --color-neutral-bold: #fafafa;
  --color-on-neutral: #f0f0f0;
  --color-brand: #008477;
  --color-brand2: #00766b;
  --color-brand3: #007166;
  --color-brand-subtle: #03302a;
  --color-brand-subtle2: #043e36;
  --color-brand-subtle3: #054a41;
  --color-brand-bold: #e0f2f1;
  --color-on-brand: #f0f0f0;
  --color-success: #409a43;
  --color-success2: #3a8b3d;
  --color-success3: #337c35;
  --color-success-subtle: #0a2f0c;
  --color-success-subtle2: #0d3e10;
  --color-success-subtle3: #114e14;
  --color-success-bold: #e8f5e9;
  --color-on-success: #f0f0f0;
  --color-info: #2c88d2;
  --color-info2: #2982c9;
  --color-info3: #267bbf;
  --color-info-subtle: #051a3c;
  --color-info-subtle2: #06214d;
  --color-info-subtle3: #082658;
  --color-info-bold: #e3f2fd;
  --color-on-info: #f0f0f0;
  --color-warning: #c5982a;
  --color-warning2: #bc9228;
  --color-warning3: #b18926;
  --color-warning-subtle: #2e2102;
  --color-warning-subtle2: #3c2a02;
  --color-warning-subtle3: #4a3503;
  --color-warning-bold: #fff8e1;
  --color-on-warning: #f0f0f0;
  --color-danger: #c62824;
  --color-danger2: #bb2622;
  --color-danger3: #ac221f;
  --color-danger-subtle: #330303;
  --color-danger-subtle2: #440505;
  --color-danger-subtle3: #570505;
  --color-danger-bold: #ffebee;
  --color-on-danger: #f0f0f0;
  --color-dialog-background: #1c1c1c;
  --color-input-background: #1c1c1c;
  --color-input-placeholder: #a1a1a1;
  --color-overlay-background: #000000;
  --color-transparent: #ffffff00;
}

/* since buttons are overridden to look like plain text, resetting the text to align to the left */
button {
  text-align: left;
}
