:root {
  --effect-shadow-level1-0: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --effect-shadow-level1-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level5-0: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level5-1: 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
  --effect-shadow-level2-0: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --effect-shadow-level2-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level3-0: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level3-1: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --effect-shadow-level4-0: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level4-1: 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --colors-outline-base: rgb(189, 203, 206);
  --colors-outline-active: rgb(104, 113, 115);
  --colors-brand-base: rgb(0, 150, 136);
  --colors-brand-subtle: rgb(224, 242, 241);
  --colors-brand-bold: rgb(0, 105, 92);
  --colors-brand-on-base: rgb(240, 240, 240);
  --colors-brand-base2: rgb(0, 128, 116);
  --colors-brand-base3: rgb(0, 115, 104);
  --colors-brand-subtle2: rgb(203, 232, 230);
  --colors-brand-subtle3: rgb(182, 221, 218);
  --colors-surface-pure: rgb(255, 255, 255);
  --colors-surface-base: rgb(248, 248, 248);
  --colors-surface-secondary: rgb(239, 239, 239);
  --colors-surface-tertiary: rgb(228, 228, 228);
  --colors-surface-on-base: rgb(10, 10, 10);
  --colors-surface-on-secondary: rgb(50, 50, 50);
  --colors-surface-on-tertiary: rgb(90, 90, 90);
  --colors-surface-on-inverse: rgb(240, 240, 240);
  --colors-neutral-base: rgb(147, 147, 147);
  --colors-neutral-subtle: rgb(235, 235, 235);
  --colors-neutral-bold: rgb(84, 84, 84);
  --colors-neutral-on-base: rgb(240, 240, 240);
  --colors-neutral-base2: rgb(131, 131, 131);
  --colors-neutral-base3: rgb(120, 120, 120);
  --colors-neutral-subtle2: rgb(226, 226, 226);
  --colors-neutral-subtle3: rgb(211, 211, 211);
  --colors-success-base: rgb(67, 160, 71);
  --colors-success-subtle: rgb(232, 245, 233);
  --colors-success-bold: rgb(27, 94, 32);
  --colors-success-on-base: rgb(240, 240, 240);
  --colors-success-base2: rgb(60, 144, 63);
  --colors-success-base3: rgb(55, 133, 59);
  --colors-success-subtle2: rgb(210, 243, 212);
  --colors-success-subtle3: rgb(187, 236, 190);
  --colors-info-base: rgb(66, 165, 245);
  --colors-info-subtle: rgb(227, 242, 253);
  --colors-info-bold: rgb(13, 71, 161);
  --colors-info-on-base: rgb(240, 240, 240);
  --colors-info-base2: rgb(60, 150, 223);
  --colors-info-base3: rgb(52, 132, 197);
  --colors-info-subtle2: rgb(209, 236, 255);
  --colors-info-subtle3: rgb(191, 228, 255);
  --colors-warning-base: rgb(210, 161, 37);
  --colors-warning-subtle: rgb(248, 240, 215);
  --colors-warning-bold: rgb(122, 87, 5);
  --colors-warning-on-base: rgb(240, 240, 240);
  --colors-warning-base2: rgb(199, 152, 36);
  --colors-warning-base3: rgb(176, 133, 24);
  --colors-warning-subtle2: rgb(250, 236, 195);
  --colors-warning-subtle3: rgb(248, 229, 175);
  --colors-danger-base: rgb(229, 57, 53);
  --colors-danger-subtle: rgb(255, 235, 238);
  --colors-danger-bold: rgb(128, 12, 12);
  --colors-danger-on-base: rgb(240, 240, 240);
  --colors-danger-base2: rgb(203, 49, 46);
  --colors-danger-base3: rgb(189, 45, 43);
  --colors-danger-subtle2: rgb(255, 216, 222);
  --colors-danger-subtle3: rgb(255, 198, 206);
  --colors-misc-dialog-background-color: rgb(255, 255, 255);
  --colors-misc-input-background-color: rgb(255, 255, 255);
  --colors-misc-input-placeholder-color: rgb(106, 106, 106);
  --colors-misc-overlay-background-color: rgb(0, 0, 0);
  --spacing-base: 16px;
  --spacing-small1: 12px;
  --spacing-small2: 8px;
  --spacing-small3: 4px;
  --spacing-large1: 20px;
  --spacing-large2: 28px;
  --spacing-large3: 36px;
  --spacing-small4: 2px;
  --spacing-none: 0;
  --border-radiuses-small2: 3px;
  --border-radiuses-small1: 5px;
  --border-radiuses-base: 10px;
  --border-radiuses-large1: 15px;
  --border-radiuses-round: 9999px;
  --border-radiuses-none: 0;
  --sizes-small1: 18px;
  --sizes-base: 24px;
  --sizes-large1: 30px;
  --sizes-large2: 38px;
  --sizes-large3: 50px;
  --sizes-small2: 12px;
  --button-neutral-background-color-filled: rgb(147, 147, 147);
  --button-neutral-background-color: rgb(235, 235, 235);
  --button-neutral-border-color: rgb(147, 147, 147);
  --button-neutral-color-filled: rgb(240, 240, 240);
  --button-neutral-color: rgb(84, 84, 84);
  --button-neutral-border-color-active: rgb(147, 147, 147);
  --button-neutral-background-color-hover: rgb(226, 226, 226);
  --button-neutral-background-color-active: rgb(211, 211, 211);
  --button-neutral-background-color-filled-hover: rgb(131, 131, 131);
  --button-neutral-background-color-filled-active: rgb(120, 120, 120);
  --button-brand-background-color: rgb(224, 242, 241);
  --button-brand-background-color-filled: rgb(0, 150, 136);
  --button-brand-border-color: rgb(0, 150, 136);
  --button-brand-border-color-active: rgb(0, 150, 136);
  --button-brand-color: rgb(0, 105, 92);
  --button-brand-color-filled: rgb(240, 240, 240);
  --button-brand-background-color-hover: rgb(203, 232, 230);
  --button-brand-background-color-active: rgb(182, 221, 218);
  --button-brand-background-color-filled-hover: rgb(0, 128, 116);
  --button-brand-background-color-filled-active: rgb(0, 115, 104);
  --button-success-background-color: rgb(232, 245, 233);
  --button-success-background-color-filled: rgb(67, 160, 71);
  --button-success-border-color: rgb(67, 160, 71);
  --button-success-border-color-active: rgb(67, 160, 71);
  --button-success-color: rgb(27, 94, 32);
  --button-success-color-filled: rgb(240, 240, 240);
  --button-success-background-color-hover: rgb(210, 243, 212);
  --button-success-background-color-active: rgb(187, 236, 190);
  --button-success-background-color-filled-hover: rgb(60, 144, 63);
  --button-success-background-color-filled-active: rgb(55, 133, 59);
  --button-info-background-color: rgb(227, 242, 253);
  --button-info-background-color-filled: rgb(66, 165, 245);
  --button-info-border-color: rgb(66, 165, 245);
  --button-info-border-color-active: rgb(66, 165, 245);
  --button-info-color: rgb(13, 71, 161);
  --button-info-color-filled: rgb(240, 240, 240);
  --button-info-background-color-hover: rgb(209, 236, 255);
  --button-info-background-color-active: rgb(191, 228, 255);
  --button-info-background-color-filled-hover: rgb(60, 150, 223);
  --button-info-background-color-filled-active: rgb(52, 132, 197);
  --button-warning-background-color: rgb(248, 240, 215);
  --button-warning-background-color-filled: rgb(210, 161, 37);
  --button-warning-border-color: rgb(210, 161, 37);
  --button-warning-border-color-active: rgb(210, 161, 37);
  --button-warning-color: rgb(122, 87, 5);
  --button-warning-color-filled: rgb(240, 240, 240);
  --button-warning-background-color-hover: rgb(250, 236, 195);
  --button-warning-background-color-active: rgb(248, 229, 175);
  --button-warning-background-color-filled-hover: rgb(199, 152, 36);
  --button-warning-background-color-filled-active: rgb(176, 133, 24);
  --button-danger-background-color: rgb(255, 235, 238);
  --button-danger-background-color-filled: rgb(229, 57, 53);
  --button-danger-border-color: rgb(229, 57, 53);
  --button-danger-border-color-active: rgb(229, 57, 53);
  --button-danger-color: rgb(128, 12, 12);
  --button-danger-color-filled: rgb(240, 240, 240);
  --button-danger-background-color-hover: rgb(255, 216, 222);
  --button-danger-background-color-active: rgb(255, 198, 206);
  --button-danger-background-color-filled-hover: rgb(203, 49, 46);
  --button-danger-background-color-filled-active: rgb(189, 45, 43);
  --button-drop-down-border-color: rgb(104, 113, 115);
  --button-drop-down-background-color: rgb(255, 255, 255);
  --button-drop-down-color: rgb(10, 10, 10);
  --button-padding-vertical: 8px;
  --button-padding-horizontal: 16px;
  --button-margin-pre-post-item: 4px;
  --button-border-radius: 10px;
  --button-margin-between-self: 8px;
  --button-drop-down-border-radius: 5px;
  --button-drop-down-padding: 8px;
  --button-min-height: 32px;
  --auto-complete-color-add: rgb(67, 160, 71);
  --auto-complete-color-remove: rgb(229, 57, 53);
  --input-border-radius: 5px;
  --input-padding: 8px;
  --input-margin-pre-post-item: 4px;
  --input-color: rgb(10, 10, 10);
  --input-color-placeholder: rgb(106, 106, 106);
  --input-background-color: rgb(255, 255, 255);
  --input-background-color-readonly: rgb(239, 239, 239);
  --input-border-color: rgb(189, 203, 206);
  --input-border-color-active: rgb(104, 113, 115);
  --input-border-color-error: rgb(229, 57, 53);
  --label-margin: 4px;
  --label-margin-loading-indicator: 4px;
  --list-padding-vertical: 4px;
  --list-padding-horizontal: 8px;
  --list-margin-pre-item: 4px;
  --list-border-color-item: rgb(189, 203, 206);
  --list-background-color-item-selected: rgb(224, 242, 241);
  --list-background-color-item: rgb(255, 255, 255);
  --avatar-size: 40px;
  --avatar-border-radius: 9999px;
  --avatar-color: rgb(240, 240, 240);
  --avatar-background-color: rgb(0, 150, 136);
  --supporting-text-color-danger: rgb(229, 57, 53);
  --supporting-text-color-neutral: rgb(90, 90, 90);
  --supporting-text-margin: 4px;
  --bubble-border-radius: 5px;
  --bubble-padding-horizontal: 8px;
  --bubble-padding-icon: 4px;
  --bubble-size-icon-small: 18px;
  --bubble-padding-vertical: 4px;
  --bubble-neutral-background-color: rgb(147, 147, 147);
  --bubble-neutral-border-color: rgb(147, 147, 147);
  --bubble-neutral-color: rgb(240, 240, 240);
  --bubble-neutral-background-color-weak: rgb(235, 235, 235);
  --bubble-neutral-color-weak: rgb(10, 10, 10);
  --bubble-danger-background-color: rgb(229, 57, 53);
  --bubble-danger-background-color-weak: rgb(255, 235, 238);
  --bubble-danger-border-color: rgb(229, 57, 53);
  --bubble-danger-color: rgb(240, 240, 240);
  --bubble-danger-color-weak: rgb(10, 10, 10);
  --bubble-success-background-color: rgb(67, 160, 71);
  --bubble-success-background-color-weak: rgb(232, 245, 233);
  --bubble-success-border-color: rgb(67, 160, 71);
  --bubble-success-color: rgb(240, 240, 240);
  --bubble-success-color-weak: rgb(10, 10, 10);
  --bubble-info-background-color: rgb(66, 165, 245);
  --bubble-info-background-color-weak: rgb(227, 242, 253);
  --bubble-info-border-color: rgb(66, 165, 245);
  --bubble-info-color: rgb(240, 240, 240);
  --bubble-info-color-weak: rgb(10, 10, 10);
  --bubble-warning-background-color: rgb(210, 161, 37);
  --bubble-warning-background-color-weak: rgb(248, 240, 215);
  --bubble-warning-border-color: rgb(210, 161, 37);
  --bubble-warning-color: rgb(240, 240, 240);
  --bubble-warning-color-weak: rgb(10, 10, 10);
  --bubble-brand-background-color: rgb(0, 150, 136);
  --bubble-brand-background-color-weak: rgb(224, 242, 241);
  --bubble-brand-border-color: rgb(0, 150, 136);
  --bubble-brand-color: rgb(240, 240, 240);
  --bubble-brand-color-weak: rgb(10, 10, 10);
  --callout-padding-vertical: 8px;
  --callout-padding-horizontal: 12px;
  --callout-border-radius: 5px;
  --callout-margin-pre-post-item: 4px;
  --callout-border-width: 8px;
  --callout-neutral-background-color: rgb(147, 147, 147);
  --callout-neutral-background-color-weak: rgb(235, 235, 235);
  --callout-neutral-color: rgb(240, 240, 240);
  --callout-neutral-color-weak: rgb(10, 10, 10);
  --callout-neutral-border-color: rgb(147, 147, 147);
  --callout-brand-background-color: rgb(0, 150, 136);
  --callout-brand-background-color-weak: rgb(224, 242, 241);
  --callout-brand-color: rgb(240, 240, 240);
  --callout-brand-color-weak: rgb(10, 10, 10);
  --callout-brand-border-color: rgb(0, 150, 136);
  --callout-success-background-color: rgb(67, 160, 71);
  --callout-success-background-color-weak: rgb(232, 245, 233);
  --callout-success-color: rgb(240, 240, 240);
  --callout-success-color-weak: rgb(10, 10, 10);
  --callout-success-border-color: rgb(67, 160, 71);
  --callout-info-background-color: rgb(66, 165, 245);
  --callout-info-background-color-weak: rgb(227, 242, 253);
  --callout-info-color: rgb(240, 240, 240);
  --callout-info-color-weak: rgb(10, 10, 10);
  --callout-info-border-color: rgb(66, 165, 245);
  --callout-warning-background-color: rgb(210, 161, 37);
  --callout-warning-background-color-weak: rgb(248, 240, 215);
  --callout-warning-color: rgb(240, 240, 240);
  --callout-warning-color-weak: rgb(10, 10, 10);
  --callout-warning-border-color: rgb(210, 161, 37);
  --callout-danger-background-color: rgb(229, 57, 53);
  --callout-danger-background-color-weak: rgb(255, 235, 238);
  --callout-danger-color: rgb(240, 240, 240);
  --callout-danger-color-weak: rgb(10, 10, 10);
  --callout-danger-border-color: rgb(229, 57, 53);
  --checkbox-margin: 4px;
  --checkbox-size: 24px;
  --checkbox-width-toggle-bar: 40px;
  --checkbox-height-toggle-bar: 16px;
  --checkbox-size-knob: 24px;
  --checkbox-color-icon-active: rgb(0, 150, 136);
  --checkbox-color-icon: rgb(147, 147, 147);
  --radio-margin: 4px;
  --radio-size: 24px;
  --radio-color-icon-active: rgb(0, 150, 136);
  --radio-color-icon: rgb(147, 147, 147);
  --global-notification-margin-between-self: 8px;
  --global-notification-margin-list: 8px;
  --form-error-margin: 12px;
  --form-field-margin: 12px;
  --dialog-border-radius: 5px;
  --dialog-padding-vertical-header-footer: 8px;
  --dialog-padding-horizontal: 12px;
  --dialog-padding-vertical-content: 12px;
  --dialog-background-color: rgb(255, 255, 255);
  --dialog-border-color: rgb(189, 203, 206);
  --dialog-color: rgb(10, 10, 10);
  --overlay-background-color: rgb(0, 0, 0);
  --emoji-margin: 4px;
  --emoji-font-size: 30px;
  --icon-margin: 4px;
  --icon-color: rgb(10, 10, 10);
  --icon-neutral-color: rgb(147, 147, 147);
  --icon-brand-color: rgb(0, 150, 136);
  --icon-success-color: rgb(67, 160, 71);
  --icon-info-color: rgb(66, 165, 245);
  --icon-warning-color: rgb(210, 161, 37);
  --icon-danger-color: rgb(229, 57, 53);
  --card-padding-vertical: 8px;
  --card-padding-horizontal: 12px;
  --card-margin-pre-post-item: 8px;
  --card-border-radius: 5px;
  --card-background-color: rgb(255, 255, 255);
  --card-border-color: rgb(189, 203, 206);
  --text-color: rgb(10, 10, 10);
  --text-color-link: rgb(66, 165, 245);
  --date-picker-border-radius: 5px;
  --date-picker-padding: 8px;
  --date-picker-gap-calendar: 2px;
  --date-picker-border-radius-day-active-indicator: 9999px;
  --date-picker-size-day-item: 32px;
  --date-picker-width: 250px;
  --date-picker-width-year-selection: 90px;
  --date-picker-width-time-input: 100px;
  --date-picker-border-color: rgb(189, 203, 206);
  --date-picker-background-color: rgb(255, 255, 255);
  --date-picker-background-color-day-highlighted: rgb(224, 242, 241);
  --date-picker-color: rgb(10, 10, 10);
  --date-picker-color-day-inactive: rgb(147, 147, 147);
  --date-picker-background-color-day-current: rgb(227, 242, 253);
  --date-picker-color-day-disabled: rgb(211, 211, 211);
  --side-navigation-padding-item: 4px;
  --side-navigation-margin-header-indicator: 12px;
  --side-navigation-border-radius-header-indicator: 3px;
  --side-navigation-color-header: rgb(90, 90, 90);
  --side-navigation-color-item: rgb(50, 50, 50);
  --side-navigation-border-color-header-indicator: rgb(189, 203, 206);
  --side-navigation-color-item-active: rgb(0, 150, 136);
  --side-navigation-border-color-item-active: rgb(0, 150, 136);
  --side-navigation-border-color-item: rgb(189, 203, 206);
  --side-navigation-size-header-indicator: 9px;
  --side-navigation-border-offset: 4px;
  --typography-large3-bold-font-size: 32px;
  --typography-large3-bold-text-decoration: none;
  --typography-large3-bold-font-family: Roboto;
  --typography-large3-bold-font-weight: 600;
  --typography-large3-bold-font-style: normal;
  --typography-large3-bold-font-stretch: normal;
  --typography-large3-bold-letter-spacing: 0;
  --typography-large3-bold-line-height: 40px;
  --typography-large3-bold-paragraph-indent: 0;
  --typography-large3-bold-paragraph-spacing: 0;
  --typography-large3-bold-text-case: none;
  --typography-large3-font-size: 32px;
  --typography-large3-text-decoration: none;
  --typography-large3-font-family: Roboto;
  --typography-large3-font-weight: 400;
  --typography-large3-font-style: normal;
  --typography-large3-font-stretch: normal;
  --typography-large3-letter-spacing: 0;
  --typography-large3-line-height: 40px;
  --typography-large3-paragraph-indent: 0;
  --typography-large3-paragraph-spacing: 0;
  --typography-large3-text-case: none;
  --typography-large2-bold-font-size: 24px;
  --typography-large2-bold-text-decoration: none;
  --typography-large2-bold-font-family: Roboto;
  --typography-large2-bold-font-weight: 600;
  --typography-large2-bold-font-style: normal;
  --typography-large2-bold-font-stretch: normal;
  --typography-large2-bold-letter-spacing: 0;
  --typography-large2-bold-line-height: 30px;
  --typography-large2-bold-paragraph-indent: 0;
  --typography-large2-bold-paragraph-spacing: 0;
  --typography-large2-bold-text-case: none;
  --typography-large2-font-size: 24px;
  --typography-large2-text-decoration: none;
  --typography-large2-font-family: Roboto;
  --typography-large2-font-weight: 400;
  --typography-large2-font-style: normal;
  --typography-large2-font-stretch: normal;
  --typography-large2-letter-spacing: 0;
  --typography-large2-line-height: 30px;
  --typography-large2-paragraph-indent: 0;
  --typography-large2-paragraph-spacing: 0;
  --typography-large2-text-case: none;
  --typography-large1-bold-font-size: 18px;
  --typography-large1-bold-text-decoration: none;
  --typography-large1-bold-font-family: Roboto;
  --typography-large1-bold-font-weight: 600;
  --typography-large1-bold-font-style: normal;
  --typography-large1-bold-font-stretch: normal;
  --typography-large1-bold-letter-spacing: 0.5px;
  --typography-large1-bold-line-height: 24px;
  --typography-large1-bold-paragraph-indent: 0;
  --typography-large1-bold-paragraph-spacing: 0;
  --typography-large1-bold-text-case: none;
  --typography-large1-font-size: 18px;
  --typography-large1-text-decoration: none;
  --typography-large1-font-family: Roboto;
  --typography-large1-font-weight: 400;
  --typography-large1-font-style: normal;
  --typography-large1-font-stretch: normal;
  --typography-large1-letter-spacing: 0.5px;
  --typography-large1-line-height: 26px;
  --typography-large1-paragraph-indent: 0;
  --typography-large1-paragraph-spacing: 0;
  --typography-large1-text-case: none;
  --typography-base-upper-font-size: 14px;
  --typography-base-upper-text-decoration: none;
  --typography-base-upper-font-family: Roboto;
  --typography-base-upper-font-weight: 600;
  --typography-base-upper-font-style: normal;
  --typography-base-upper-font-stretch: normal;
  --typography-base-upper-letter-spacing: 0.25px;
  --typography-base-upper-line-height: 20px;
  --typography-base-upper-paragraph-indent: 0;
  --typography-base-upper-paragraph-spacing: 0;
  --typography-base-upper-text-case: uppercase;
  --typography-base-bold-font-size: 14px;
  --typography-base-bold-text-decoration: none;
  --typography-base-bold-font-family: Roboto;
  --typography-base-bold-font-weight: 600;
  --typography-base-bold-font-style: normal;
  --typography-base-bold-font-stretch: normal;
  --typography-base-bold-letter-spacing: 0.25px;
  --typography-base-bold-line-height: 20px;
  --typography-base-bold-paragraph-indent: 0;
  --typography-base-bold-paragraph-spacing: 0;
  --typography-base-bold-text-case: none;
  --typography-base-font-size: 14px;
  --typography-base-text-decoration: none;
  --typography-base-font-family: Roboto;
  --typography-base-font-weight: 400;
  --typography-base-font-style: normal;
  --typography-base-font-stretch: normal;
  --typography-base-letter-spacing: 0.25px;
  --typography-base-line-height: 20px;
  --typography-base-paragraph-indent: 0;
  --typography-base-paragraph-spacing: 0;
  --typography-base-text-case: none;
  --typography-small1-bold-font-size: 12px;
  --typography-small1-bold-text-decoration: none;
  --typography-small1-bold-font-family: Inter;
  --typography-small1-bold-font-weight: 600;
  --typography-small1-bold-font-style: normal;
  --typography-small1-bold-font-stretch: normal;
  --typography-small1-bold-letter-spacing: 0;
  --typography-small1-bold-line-height: 14.4px;
  --typography-small1-bold-paragraph-indent: 0;
  --typography-small1-bold-paragraph-spacing: 0;
  --typography-small1-bold-text-case: none;
  --typography-small1-font-size: 12px;
  --typography-small1-text-decoration: none;
  --typography-small1-font-family: Roboto;
  --typography-small1-font-weight: 400;
  --typography-small1-font-style: normal;
  --typography-small1-font-stretch: normal;
  --typography-small1-letter-spacing: 0;
  --typography-small1-line-height: 16px;
  --typography-small1-paragraph-indent: 0;
  --typography-small1-paragraph-spacing: 0;
  --typography-small1-text-case: none;
}
