:root {
  --effect-shadow-level1-0: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --effect-shadow-level1-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level5-0: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level5-1: 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
  --effect-shadow-level2-0: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --effect-shadow-level2-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level3-0: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level3-1: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --effect-shadow-level4-0: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  --effect-shadow-level4-1: 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --color-outline-base: rgb(189, 203, 206);
  --color-outline-active: rgb(104, 113, 115);
  --color-brand-base: rgb(43, 150, 150);
  --color-brand-subtle: rgb(181, 239, 255);
  --color-brand-bold: rgb(20, 77, 77);
  --color-brand-on-base: rgb(240, 240, 240);
  --color-surface-pure: rgb(255, 255, 255);
  --color-surface-base: rgb(248, 248, 248);
  --color-surface-secondary: rgb(239, 239, 239);
  --color-surface-tertiary: rgb(228, 228, 228);
  --color-surface-on-base: rgb(10, 10, 10);
  --color-surface-on-secondary: rgb(50, 50, 50);
  --color-surface-on-tertiary: rgb(90, 90, 90);
  --color-misc-button-underlay-background-color: rgb(10, 10, 10);
  --color-misc-dialog-background-color: rgb(255, 255, 255);
  --color-misc-input-background-color: rgb(255, 255, 255);
  --color-misc-input-placeholder-color: rgb(106, 106, 106);
  --color-misc-overlay-background-color: rgb(0, 0, 0);
  --color-neutral-base: rgb(122, 122, 122);
  --color-neutral-subtle: rgb(163, 163, 163);
  --color-neutral-bold: rgb(71, 71, 71);
  --color-neutral-on-base: rgb(240, 240, 240);
  --color-success-base: rgb(25, 174, 50);
  --color-success-subtle: rgb(130, 241, 149);
  --color-success-bold: rgb(14, 96, 28);
  --color-success-on-base: rgb(240, 240, 240);
  --color-info-base: rgb(51, 105, 211);
  --color-info-subtle: rgb(187, 208, 255);
  --color-info-bold: rgb(28, 61, 126);
  --color-info-on-base: rgb(240, 240, 240);
  --color-warning-base: rgb(200, 92, 36);
  --color-warning-subtle: rgb(255, 208, 185);
  --color-warning-bold: rgb(101, 44, 15);
  --color-warning-on-base: rgb(240, 240, 240);
  --color-danger-base: rgb(202, 46, 46);
  --color-danger-subtle: rgb(255, 181, 181);
  --color-danger-bold: rgb(104, 23, 23);
  --color-danger-on-base: rgb(240, 240, 240);
  --space-base: 16px;
  --space-small1: 12px;
  --space-small2: 8px;
  --space-small3: 4px;
  --space-large1: 20px;
  --space-large2: 28px;
  --space-large3: 36px;
  --space-small4: 2px;
  --space-none: 0;
  --border-radius-small2: 3px;
  --border-radius-small1: 5px;
  --border-radius-base: 10px;
  --border-radius-large1: 15px;
  --border-radius-round: 9999px;
  --border-radius-none: 0;
  --icon-size-small1: 14px;
  --icon-size-base: 20px;
  --icon-size-large1: 28px;
  --icon-size-large2: 36px;
  --icon-size-large3: 48px;
  --button-neutral-background-color-filled: rgb(122, 122, 122);
  --button-neutral-background-color: rgb(163, 163, 163);
  --button-neutral-border-color: rgb(163, 163, 163);
  --button-neutral-color-filled: rgb(240, 240, 240);
  --button-neutral-color: rgb(71, 71, 71);
  --button-neutral-background-color-underlay: rgb(163, 163, 163);
  --button-neutral-border-color-active: rgb(122, 122, 122);
  --button-brand-background-color: rgb(181, 239, 255);
  --button-brand-background-color-filled: rgb(43, 150, 150);
  --button-brand-border-color: rgb(181, 239, 255);
  --button-brand-border-color-active: rgb(43, 150, 150);
  --button-brand-color: rgb(20, 77, 77);
  --button-brand-color-filled: rgb(240, 240, 240);
  --button-brand-background-color-underlay: rgb(181, 239, 255);
  --button-success-background-color: rgb(130, 241, 149);
  --button-success-background-color-filled: rgb(25, 174, 50);
  --button-success-border-color: rgb(130, 241, 149);
  --button-success-border-color-active: rgb(25, 174, 50);
  --button-success-color: rgb(14, 96, 28);
  --button-success-color-filled: rgb(240, 240, 240);
  --button-success-background-color-underlay: rgb(130, 241, 149);
  --button-info-background-color: rgb(187, 208, 255);
  --button-info-background-color-filled: rgb(51, 105, 211);
  --button-info-border-color: rgb(187, 208, 255);
  --button-info-border-color-active: rgb(51, 105, 211);
  --button-info-color: rgb(28, 61, 126);
  --button-info-color-filled: rgb(240, 240, 240);
  --button-info-background-color-underlay: rgb(187, 208, 255);
  --button-warning-background-color: rgb(255, 208, 185);
  --button-warning-background-color-filled: rgb(200, 92, 36);
  --button-warning-border-color: rgb(255, 208, 185);
  --button-warning-border-color-active: rgb(200, 92, 36);
  --button-warning-color: rgb(101, 44, 15);
  --button-warning-color-filled: rgb(240, 240, 240);
  --button-warning-background-color-underlay: rgb(255, 208, 185);
  --button-danger-background-color: rgb(255, 181, 181);
  --button-danger-background-color-filled: rgb(202, 46, 46);
  --button-danger-border-color: rgb(255, 181, 181);
  --button-danger-border-color-active: rgb(202, 46, 46);
  --button-danger-color: rgb(104, 23, 23);
  --button-danger-color-filled: rgb(240, 240, 240);
  --button-danger-background-color-underlay: rgb(255, 181, 181);
  --button-background-color-underlay-filled: rgb(10, 10, 10);
  --button-drop-down-border-color: rgb(104, 113, 115);
  --button-drop-down-background-color: rgb(255, 255, 255);
  --button-drop-down-color: rgb(10, 10, 10);
  --button-padding-vertical: 8px;
  --button-padding-horizontal: 16px;
  --button-margin-icon: 4px;
  --button-border-radius: 10px;
  --button-margin-between-self: 8px;
  --button-drop-down-border-radius: 5px;
  --button-drop-down-padding: 8px;
  --button-min-height: 32px;
  --auto-complete-color-add: rgb(25, 174, 50);
  --auto-complete-color-remove: rgb(202, 46, 46);
  --input-border-radius: 5px;
  --input-padding: 8px;
  --input-margin-pre-post-item: 4px;
  --input-color: rgb(10, 10, 10);
  --input-color-placeholder: rgb(106, 106, 106);
  --input-background-color: rgb(255, 255, 255);
  --input-background-color-readonly: rgb(248, 248, 248);
  --input-border-color: rgb(189, 203, 206);
  --input-border-color-active: rgb(104, 113, 115);
  --label-margin: 4px;
  --list-padding-vertical: 4px;
  --list-padding-horizontal: 8px;
  --list-border-color-item: rgb(189, 203, 206);
  --list-background-color-item-selected: rgb(181, 239, 255);
  --list-background-color-item: rgb(255, 255, 255);
  --avatar-size: 40px;
  --avatar-border-radius: 9999px;
  --avatar-color: rgb(240, 240, 240);
  --avatar-background-color: rgb(43, 150, 150);
  --supporting-text-color-danger: rgb(202, 46, 46);
  --supporting-text-color-neutral: rgb(90, 90, 90);
  --supporting-text-margin: 4px;
  --bubble-border-radius: 9999px;
  --bubble-padding-horizontal: 8px;
  --bubble-padding-icon: 4px;
  --bubble-size-icon-small: 14px;
  --bubble-padding-vertical: 4px;
  --bubble-neutral-background-color: rgb(122, 122, 122);
  --bubble-neutral-border-color: rgb(122, 122, 122);
  --bubble-neutral-color: rgb(240, 240, 240);
  --bubble-neutral-background-color-weak: rgb(163, 163, 163);
  --bubble-neutral-color-weak: rgb(10, 10, 10);
  --bubble-danger-background-color: rgb(202, 46, 46);
  --bubble-danger-background-color-weak: rgb(255, 181, 181);
  --bubble-danger-border-color: rgb(202, 46, 46);
  --bubble-danger-color: rgb(240, 240, 240);
  --bubble-danger-color-weak: rgb(10, 10, 10);
  --bubble-success-background-color: rgb(25, 174, 50);
  --bubble-success-background-color-weak: rgb(130, 241, 149);
  --bubble-success-border-color: rgb(25, 174, 50);
  --bubble-success-color: rgb(240, 240, 240);
  --bubble-success-color-weak: rgb(10, 10, 10);
  --bubble-info-background-color: rgb(51, 105, 211);
  --bubble-info-background-color-weak: rgb(187, 208, 255);
  --bubble-info-border-color: rgb(51, 105, 211);
  --bubble-info-color: rgb(240, 240, 240);
  --bubble-info-color-weak: rgb(10, 10, 10);
  --bubble-warning-background-color: rgb(200, 92, 36);
  --bubble-warning-background-color-weak: rgb(255, 208, 185);
  --bubble-warning-border-color: rgb(200, 92, 36);
  --bubble-warning-color: rgb(240, 240, 240);
  --bubble-warning-color-weak: rgb(10, 10, 10);
  --bubble-brand-background-color: rgb(43, 150, 150);
  --bubble-brand-background-color-weak: rgb(181, 239, 255);
  --bubble-brand-border-color: rgb(43, 150, 150);
  --bubble-brand-color: rgb(240, 240, 240);
  --bubble-brand-color-weak: rgb(10, 10, 10);
  --callout-padding-vertical: 8px;
  --callout-padding-horizontal: 12px;
  --callout-border-radius: 5px;
  --callout-margin-pre-post-item: 4px;
  --callout-border-width: 8px;
  --callout-neutral-background-color: rgb(122, 122, 122);
  --callout-neutral-background-color-weak: rgb(163, 163, 163);
  --callout-neutral-color: rgb(240, 240, 240);
  --callout-neutral-color-weak: rgb(10, 10, 10);
  --callout-neutral-border-color: rgb(122, 122, 122);
  --callout-brand-background-color: rgb(43, 150, 150);
  --callout-brand-background-color-weak: rgb(181, 239, 255);
  --callout-brand-color: rgb(240, 240, 240);
  --callout-brand-color-weak: rgb(10, 10, 10);
  --callout-brand-border-color: rgb(43, 150, 150);
  --callout-success-background-color: rgb(25, 174, 50);
  --callout-success-background-color-weak: rgb(130, 241, 149);
  --callout-success-color: rgb(240, 240, 240);
  --callout-success-color-weak: rgb(10, 10, 10);
  --callout-success-border-color: rgb(25, 174, 50);
  --callout-info-background-color: rgb(51, 105, 211);
  --callout-info-background-color-weak: rgb(187, 208, 255);
  --callout-info-color: rgb(240, 240, 240);
  --callout-info-color-weak: rgb(10, 10, 10);
  --callout-info-border-color: rgb(51, 105, 211);
  --callout-warning-background-color: rgb(200, 92, 36);
  --callout-warning-background-color-weak: rgb(255, 208, 185);
  --callout-warning-color: rgb(240, 240, 240);
  --callout-warning-color-weak: rgb(10, 10, 10);
  --callout-warning-border-color: rgb(200, 92, 36);
  --callout-danger-background-color: rgb(202, 46, 46);
  --callout-danger-background-color-weak: rgb(255, 181, 181);
  --callout-danger-color: rgb(240, 240, 240);
  --callout-danger-color-weak: rgb(10, 10, 10);
  --callout-danger-border-color: rgb(202, 46, 46);
  --checkbox-margin: 4px;
  --checkbox-size: 20px;
  --checkbox-width-toggle-bar: 40px;
  --checkbox-height-toggle-bar: 16px;
  --checkbox-size-knob: 24px;
  --checkbox-color-icon-active: rgb(43, 150, 150);
  --checkbox-color-icon: rgb(122, 122, 122);
  --radio-margin: 4px;
  --radio-size: 20px;
  --radio-color-icon-active: rgb(43, 150, 150);
  --radio-color-icon: rgb(122, 122, 122);
  --global-notification-margin-between-self: 8px;
  --global-notification-margin-list: 8px;
  --form-error-margin: 12px;
  --form-field-margin: 8px;
  --dialog-border-radius: 5px;
  --dialog-padding-vertical-header-footer: 8px;
  --dialog-padding-horizontal: 12px;
  --dialog-padding-vertical-content: 12px;
  --dialog-background-color: rgb(255, 255, 255);
  --dialog-border-color: rgb(189, 203, 206);
  --overlay-background-color: rgb(0, 0, 0);
  --emoji-margin: 4px;
  --icon-margin: 4px;
  --card-padding-vertical: 8px;
  --card-padding-horizontal: 12px;
  --card-margin-pre-post-item: 8px;
  --card-border-radius: 5px;
  --card-background-color: rgb(255, 255, 255);
  --card-border-color: rgb(189, 203, 206);
  --typography-display-large-font-size: 57px;
  --typography-display-large-text-decoration: none;
  --typography-display-large-font-family: Roboto;
  --typography-display-large-font-weight: 400;
  --typography-display-large-font-style: normal;
  --typography-display-large-font-stretch: normal;
  --typography-display-large-letter-spacing: -0.25px;
  --typography-display-large-line-height: 64px;
  --typography-display-large-paragraph-indent: 0;
  --typography-display-large-paragraph-spacing: 0;
  --typography-display-large-text-case: none;
  --typography-display-medium-font-size: 45px;
  --typography-display-medium-text-decoration: none;
  --typography-display-medium-font-family: Roboto;
  --typography-display-medium-font-weight: 400;
  --typography-display-medium-font-style: normal;
  --typography-display-medium-font-stretch: normal;
  --typography-display-medium-letter-spacing: 0;
  --typography-display-medium-line-height: 52px;
  --typography-display-medium-paragraph-indent: 0;
  --typography-display-medium-paragraph-spacing: 0;
  --typography-display-medium-text-case: none;
  --typography-display-small-font-size: 36px;
  --typography-display-small-text-decoration: none;
  --typography-display-small-font-family: Roboto;
  --typography-display-small-font-weight: 400;
  --typography-display-small-font-style: normal;
  --typography-display-small-font-stretch: normal;
  --typography-display-small-letter-spacing: 0;
  --typography-display-small-line-height: 44px;
  --typography-display-small-paragraph-indent: 0;
  --typography-display-small-paragraph-spacing: 0;
  --typography-display-small-text-case: none;
  --typography-headline-large-font-size: 32px;
  --typography-headline-large-text-decoration: none;
  --typography-headline-large-font-family: Roboto;
  --typography-headline-large-font-weight: 400;
  --typography-headline-large-font-style: normal;
  --typography-headline-large-font-stretch: normal;
  --typography-headline-large-letter-spacing: 0;
  --typography-headline-large-line-height: 40px;
  --typography-headline-large-paragraph-indent: 0;
  --typography-headline-large-paragraph-spacing: 0;
  --typography-headline-large-text-case: none;
  --typography-headline-medium-font-size: 28px;
  --typography-headline-medium-text-decoration: none;
  --typography-headline-medium-font-family: Roboto;
  --typography-headline-medium-font-weight: 400;
  --typography-headline-medium-font-style: normal;
  --typography-headline-medium-font-stretch: normal;
  --typography-headline-medium-letter-spacing: 0;
  --typography-headline-medium-line-height: 36px;
  --typography-headline-medium-paragraph-indent: 0;
  --typography-headline-medium-paragraph-spacing: 0;
  --typography-headline-medium-text-case: none;
  --typography-headline-small-font-size: 24px;
  --typography-headline-small-text-decoration: none;
  --typography-headline-small-font-family: Roboto;
  --typography-headline-small-font-weight: 400;
  --typography-headline-small-font-style: normal;
  --typography-headline-small-font-stretch: normal;
  --typography-headline-small-letter-spacing: 0;
  --typography-headline-small-line-height: 32px;
  --typography-headline-small-paragraph-indent: 0;
  --typography-headline-small-paragraph-spacing: 0;
  --typography-headline-small-text-case: none;
  --typography-title-large-font-size: 22px;
  --typography-title-large-text-decoration: none;
  --typography-title-large-font-family: Roboto;
  --typography-title-large-font-weight: 400;
  --typography-title-large-font-style: normal;
  --typography-title-large-font-stretch: normal;
  --typography-title-large-letter-spacing: 0;
  --typography-title-large-line-height: 28px;
  --typography-title-large-paragraph-indent: 0;
  --typography-title-large-paragraph-spacing: 0;
  --typography-title-large-text-case: none;
  --typography-title-medium-font-size: 16px;
  --typography-title-medium-text-decoration: none;
  --typography-title-medium-font-family: Roboto;
  --typography-title-medium-font-weight: 500;
  --typography-title-medium-font-style: normal;
  --typography-title-medium-font-stretch: normal;
  --typography-title-medium-letter-spacing: 0.15px;
  --typography-title-medium-line-height: 24px;
  --typography-title-medium-paragraph-indent: 0;
  --typography-title-medium-paragraph-spacing: 0;
  --typography-title-medium-text-case: none;
  --typography-title-small-font-size: 14px;
  --typography-title-small-text-decoration: none;
  --typography-title-small-font-family: Roboto;
  --typography-title-small-font-weight: 500;
  --typography-title-small-font-style: normal;
  --typography-title-small-font-stretch: normal;
  --typography-title-small-letter-spacing: 0.1px;
  --typography-title-small-line-height: 20px;
  --typography-title-small-paragraph-indent: 0;
  --typography-title-small-paragraph-spacing: 0;
  --typography-title-small-text-case: none;
  --typography-body-large-font-size: 16px;
  --typography-body-large-text-decoration: none;
  --typography-body-large-font-family: Roboto;
  --typography-body-large-font-weight: 400;
  --typography-body-large-font-style: normal;
  --typography-body-large-font-stretch: normal;
  --typography-body-large-letter-spacing: 0.5px;
  --typography-body-large-line-height: 24px;
  --typography-body-large-paragraph-indent: 0;
  --typography-body-large-paragraph-spacing: 0;
  --typography-body-large-text-case: none;
  --typography-body-medium-font-size: 14px;
  --typography-body-medium-text-decoration: none;
  --typography-body-medium-font-family: Roboto;
  --typography-body-medium-font-weight: 400;
  --typography-body-medium-font-style: normal;
  --typography-body-medium-font-stretch: normal;
  --typography-body-medium-letter-spacing: 0.25px;
  --typography-body-medium-line-height: 20px;
  --typography-body-medium-paragraph-indent: 0;
  --typography-body-medium-paragraph-spacing: 0;
  --typography-body-medium-text-case: none;
  --typography-body-small-font-size: 12px;
  --typography-body-small-text-decoration: none;
  --typography-body-small-font-family: Roboto;
  --typography-body-small-font-weight: 400;
  --typography-body-small-font-style: normal;
  --typography-body-small-font-stretch: normal;
  --typography-body-small-letter-spacing: 0;
  --typography-body-small-line-height: 16px;
  --typography-body-small-paragraph-indent: 0;
  --typography-body-small-paragraph-spacing: 0;
  --typography-body-small-text-case: none;
  --typography-label-large-prominent-font-size: 14px;
  --typography-label-large-prominent-text-decoration: none;
  --typography-label-large-prominent-font-family: Roboto;
  --typography-label-large-prominent-font-weight: 600;
  --typography-label-large-prominent-font-style: normal;
  --typography-label-large-prominent-font-stretch: normal;
  --typography-label-large-prominent-letter-spacing: 0.1px;
  --typography-label-large-prominent-line-height: 20px;
  --typography-label-large-prominent-paragraph-indent: 0;
  --typography-label-large-prominent-paragraph-spacing: 0;
  --typography-label-large-prominent-text-case: none;
  --typography-label-large-font-size: 14px;
  --typography-label-large-text-decoration: none;
  --typography-label-large-font-family: Roboto;
  --typography-label-large-font-weight: 500;
  --typography-label-large-font-style: normal;
  --typography-label-large-font-stretch: normal;
  --typography-label-large-letter-spacing: 0.1px;
  --typography-label-large-line-height: 20px;
  --typography-label-large-paragraph-indent: 0;
  --typography-label-large-paragraph-spacing: 0;
  --typography-label-large-text-case: none;
  --typography-label-medium-prominent-font-size: 12px;
  --typography-label-medium-prominent-text-decoration: none;
  --typography-label-medium-prominent-font-family: Roboto;
  --typography-label-medium-prominent-font-weight: 600;
  --typography-label-medium-prominent-font-style: normal;
  --typography-label-medium-prominent-font-stretch: normal;
  --typography-label-medium-prominent-letter-spacing: 0.5px;
  --typography-label-medium-prominent-line-height: 16px;
  --typography-label-medium-prominent-paragraph-indent: 0;
  --typography-label-medium-prominent-paragraph-spacing: 0;
  --typography-label-medium-prominent-text-case: none;
  --typography-label-medium-font-size: 12px;
  --typography-label-medium-text-decoration: none;
  --typography-label-medium-font-family: Roboto;
  --typography-label-medium-font-weight: 500;
  --typography-label-medium-font-style: normal;
  --typography-label-medium-font-stretch: normal;
  --typography-label-medium-letter-spacing: 0.5px;
  --typography-label-medium-line-height: 16px;
  --typography-label-medium-paragraph-indent: 0;
  --typography-label-medium-paragraph-spacing: 0;
  --typography-label-medium-text-case: none;
  --typography-label-small-font-size: 11px;
  --typography-label-small-text-decoration: none;
  --typography-label-small-font-family: Roboto;
  --typography-label-small-font-weight: 500;
  --typography-label-small-font-style: normal;
  --typography-label-small-font-stretch: normal;
  --typography-label-small-letter-spacing: 0.5px;
  --typography-label-small-line-height: 16px;
  --typography-label-small-paragraph-indent: 0;
  --typography-label-small-paragraph-spacing: 0;
  --typography-label-small-text-case: none;
}
