/*
 * while ideally these would come from figma, the design token exporting does not support variable that are general
 * values, just spacing values so need to hard code these here
 */
:root {
  --z-index-side-navigation-border: 1;
  --z-index-auto-complete-list: 2;
  --z-index-auto-complete-opened-list: 3;
  --z-index-date-picker-input-picker: 4;
  --z-index-overlay: 1000;
  --z-index-overlay-content: 1001;
  --z-index-dialog: 1002;
  --z-index-global-notifications: 1003;
  --z-index-tooltip-content: 1004;
}

[data-theme] {
  --button-color-opacity-disabled: 0.38;

  /* input */
  --input-disabled-opacity: 0.4;

  /* checkbox */
  --checkbox-toggle-bar-opacity: 0.3;
  --checkbox-toggle-slide-duration: 0.2s;

  /* overlay */
  --overlay-opacity-strong: 0.7;
  --overlay-opacity-weak: 0.4;
}
