.checkbox label {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input:not(.toggle) {
  display: none;
}

.checkbox .icon {
  margin-right: var(--space-2xs);
  font-size: var(--font-size-xl);
}

.checkbox input:checked + .icon,
.checkbox input:indeterminate + .icon {
  fill: var(--color-brand);
}

.align-end {
  input {
    order: 1;
    margin-left: auto;
  }
}

.group {
  .checkbox {
    display: flex;
  }
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  cursor: pointer;
}

.toggle {
  appearance: none;
  background-color: var(--color-neutral);
  border-radius: var(--border-radius-full);
  align-self: center;
  height: var(--size-lg);
  width: var(--size-2xl);
  cursor: pointer;
}

.toggle:before {
  --checkbox-toggle-knob-inner-spacing: 2px;
  --checkbox-toggle-know-size: calc(var(--size-lg) - calc(var(--checkbox-toggle-knob-inner-spacing) * 2));

  content: "";
  display: block;
  position: relative;
  background-color: var(--color-surface-pure);
  height: var(--checkbox-toggle-know-size);
  width: var(--checkbox-toggle-know-size);
  border-radius: var(--border-radius-full);
  flex: 0 0 var(--size-xl);
  top: var(--checkbox-toggle-knob-inner-spacing);
  left: var(--checkbox-toggle-knob-inner-spacing);

  transition: left 0.2s;
}

.toggle:checked {
  background-color: var(--color-brand);
}

.toggle:checked:before {
  left: calc(var(--size-2xl) - var(--checkbox-toggle-know-size) - var(--checkbox-toggle-knob-inner-spacing));
}
