.checkbox label {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox input {
  display: none;
}

.checkbox .icon {
  margin-right: var(--space-2xs);
  font-size: var(--font-size-xl);
}

.checkbox input:checked + .icon,
.checkbox input:indeterminate + .icon {
  color: var(--color-brand);
}

.align-end {
  input {
    order: 1;
    margin-left: auto;
  }
}

.group {
  .checkbox {
    display: flex;
  }
}

.checkbox-toggle label {
  cursor: pointer;
}

.checkbox-toggle-slider {
  position: relative;
  display: inline-flex;
  height: var(--size-lg);
  width: var(--size-2xl);
  margin-right: var(--space-2xs);

  --checkbox-toggle-knob-inner-spacing: 2px;
  --checkbox-toggle-know-size: calc(var(--size-lg) - calc(var(--checkbox-toggle-knob-inner-spacing) * 2));
}

.checkbox-toggle-bar {
  background-color: var(--color-neutral);
  width: 100%;
  height: var(--size-lg);
  border-radius: var(--border-radius-full);
  align-self: center;
}

.checkbox-toggle-knob {
  position: absolute;
  background-color: var(--color-surface-pure);
  height: var(--checkbox-toggle-know-size);
  width: var(--checkbox-toggle-know-size);
  border-radius: var(--border-radius-full);
  flex: 0 0 var(--size-xl);
  top: var(--checkbox-toggle-knob-inner-spacing);
  left: var(--checkbox-toggle-knob-inner-spacing);

  transition: left 0.2s;
}

.checkbox-toggle-on .checkbox-toggle-bar {
  background-color: var(--color-brand);
}

.checkbox-toggle-on .checkbox-toggle-knob {
  left: calc(var(--size-2xl) - var(--checkbox-toggle-know-size) - var(--checkbox-toggle-knob-inner-spacing));
}
