.application-frame {
  color: var(--application-frame-container-color);
  background-color: var(--application-frame-container-backgound-color);
  height: 100vh;
  width: 100vw;
  display: flex;
}

.toggle-theme-trigger {
  margin-bottom: var(--application-frame-navigation-padding);
}

.navigation {
  padding: var(--application-frame-navigation-padding);
  overflow-y: auto;
  border-right: 1px solid var(--application-frame-navigation-border-color);
  flex: 0 0 350px;
}

.navigation-group-header {
  font-weight: var(--typography-base-upper-font-weight);
  margin-bottom: var(--spacing-small2);
}

.navigation-sub-section {
  padding: var(--spacing-small3) 0;
}

.sub-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  /* this prevent the element from overflowing the parent */
  min-width: 1px;
}

.main-content {
  padding: var(--application-frame-main-contain-padding);
}
