.card {
  padding: var(--space-xs) var(--space-sm);
  border: 1px solid var(--color-outline);
  background-color: var(--color-surface-pure);
  border-radius: var(--border-radius-sm);
}

.header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing-lg);
}

.header-with-content {
  margin-bottom: var(--space-xs);
}

.header-pre-item {
  margin-right: var(--space-xs);

  display: inline-flex;
}

.header-post-item {
  margin-left: auto;

  display: inline-flex;
}

/* biome-ignore lint/suspicious/noEmptyBlock: just a placeholder */
.content {
}

.footer {
  margin-top: var(--space-xs);
  display: flex;
}

.footer-right-aligned {
  justify-content: flex-end;
}
