/* biome-ignore lint/suspicious/noEmptyBlock: just a placeholder */
.container {
}

.input-container {
  width: 100%;
  color: var(--color-on-surface);
  background: var(--color-surface-pure);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-outline);
  padding: var(--space-xs);

  &:has([type="hidden"]) {
    display: none;
  }
}

.container-focus:not(.container-disabled):not(.container-readonly):not(.container-invalid) .input-container,
.container:hover:not(.container-disabled):not(.container-readonly):not(.container-invalid) .input-container {
  border-color: var(--color-outline-active);
}

.input-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs);
}

.input {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  outline-color: transparent;
  background: 0;
  border: 0;
  flex: 1;
}

.container-disabled {
  opacity: var(--opacity-disabled);
}

.container-readonly .input-container {
  background-color: var(--color-surface-secondary);
}

.container-invalid .input-container {
  border-color: var(--color-danger);
}

.input-container input::placeholder {
  cursor: var(--color-input-placeholder);
}

.textarea::placeholder {
  color: var(--color-input-placeholder);
}

.input-container {
  position: relative;

  display: flex;
  align-items: center;
}

.input-container input {
  /*
   * not sure why the user agent css overrides the inherited color from so need to apply the color for the input
   * directly on the input element itself
   */
  color: var(--color-on-surface);
}

.pre-item,
.post-item {
  display: flex;
  height: 100%;
  align-items: center;
}

.pre-item {
  margin-right: var(--space-2xs);
}

.post-item {
  margin-left: var(--space-2xs);
}

.pre-item.pre-item-inline {
  display: inline-block;
}

.post-item-is-clickable {
  cursor: pointer;
}
