.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: var(--avatar-border-radius);
  background-color: var(--avatar-background-color);
  color: var(--avatar-color);
}

.avatar img {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: var(--avatar-border-radius);
}
