.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: var(--avatar-border-radius);
  background-color: var(--avatar-background-color);
  color: var(--avatar-color);
  font-size: var(--typography-base-bold-font-size);
  line-height: var(--typography-base-bold-line-height);
  letter-spacing: var(--typography-base-bold-letter-spacing);
}

.avatar img {
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: var(--avatar-border-radius);
}
