.overlay {
	z-index: var(--z-index-overlay);
	position: fixed;
	inset: 0;
	background-color: var(--overlay-background-color);
}

.overlay-local {
	position: absolute;
}

.strong {
	opacity: var(--overlay-opacity-strong);
}

.weak {
	opacity: var(--overlay-opacity-weak);
}

.content {
	position: fixed;
	z-index: var(--z-index-overlay-content);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content-local {
	position: absolute;
}
